<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>QR CODE</title>
</head>
<body>
    <div class="container">
        <div class="row justify-content-center my-3">
            <div class="col-lg-6" id="barcode">

            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="alert alert-info" role="alert"><p id="alert-text"></p></div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-lg-6">
                <form method="POST" action="/rest/qrcode" id="qr-form">
                    <div class="form-group">
                        <input class="form-control" type="number" placeholder="input qr code here" id="otp" name="otp" required>
                    </div>
                    <button type="submit" class="btn btn-primary">SUBMIT</button>
                </form>
            </div>
        </div>
    </div>

    <!--js-->
    <script src="./views/qrcode.js"></script>
</body>
</html>